*.*
*
!*/
!Makefile*
!*.[cSh]
!*.sh
!test.sh
!.gitignore
!README.md
!lib-common/newlib/libc.a
!kernel/src/memory/mm_malloc.o

!*.pdf
!*.wps

!*.l
!*.y
!nemu/*.txt
!nemu/ZBYnotes/*.txt

ZBYcalc/calc.lex.c
ZBYcalc/calc.tab.c
ZBYcalc/calc.tab.h
!ZBYtest/eflags/*.txt
