*.*
*
!*/
!Makefile*
!*.[cSh]
!*.cpp
!*.sh
!test.sh
!.gitignore
!README.md
!lib-common/newlib/newlib.a
!kernel/src/memory/mm_malloc.o

!*.pdf
!*.wps
!*.pptx

!*.l
!*.y
!nemu/*.txt
!nemu/ZBYnotes/*.txt
!plotlinecount.gnu

ZBYcalc/calc.lex.c
ZBYcalc/calc.tab.c
ZBYcalc/calc.tab.h
!ZBYtest/eflags/*.txt
